<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  type="text/css" href="/css/tablestyle.css" />
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<table >
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    <tr th:each="el : ${byID} ">
        <td th:text="${el.id}"></td>
        <td th:text="${el.first_name}"></td>
        <td th:text="${el.last_name}"></td>
        <td th:text="${el.position}"></td>
    </tr>
</table>
</body>
</html>