<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<form action="#" th:action="@{/employeelist/employee-create}" th:object="${employee}" method="post">
    <div><label for="id"> ID</label>
        <input  type="number"  th:field="*{id}"  id="id" placeholder="ID" >
    </div>
    <div>
        <label for="first_name"> First Name</label>
        <input type="text" th:field="*{first_name}" id="first_name" placeholder="First Name">
    </div>
    <div>
        <label for="last_name"> Last Name</label>
        <input type="text" th:field="*{last_name}" id="last_name" placeholder="Last Name">
    </div>
    <div>
        <label for="position"> position</label>
        <input type="text" th:field="*{position}" id="position" placeholder="position">
    </div>
    <br/>
    <input type="submit" value="Create Employee">
</form>

</body>
</html>