<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  type="text/css" href="/css/tablestyle.css" />
    <title>Employees Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table >
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hobby</th>
        <th>Date of Birth</th>
    </tr>
    <tr th:each="el : ${internsServices} ">
        <th th:text="${el.id}"></th>
        <td th:text="${el.first_name}"></td>
        <td th:text="${el.last_name}"></td>
        <td th:text="${el.hobby}"></td>
        <td th:text="${el.date_of_birth}"></td>
    </tr>
</table>
</body>
</html>
