<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Update User</title>
</head>
<body>
<form action="#" th:action="@{/userlist/user-update}" th:object="${user}" method="post">
    <label for="id"> ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="role_id"> Role ID</label>
    <input type="number" th:field="*{role_id}" id="role_id" placeholder=" Role ID">
    <label for="first_name"> First Name</label>
    <input type="text" th:field="*{first_name}" id="first_name" placeholder="First Name">
    <label for="last_name"> Last Name</label>
    <input type="text" th:field="*{last_name}" id="last_name" placeholder="Last Name">
    <label for="email"> Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <label for="pass_word"> password</label>
    <input type="text" th:field="*{pass_word}" id="pass_word" placeholder="pass_word">
    <label for="isactive"> isactive</label>
    <input type="text" th:field="*{isactive}" id="isactive" placeholder="isactive">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>